<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edgu1.angleseahospital">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcomepage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginpage" />
        <activity android:name=".Mainpage" />
        <activity android:name=".registerpage" />
        <activity android:name=".Signature"/>
        <activity android:name=".DrugsInformation"/>
        <activity android:name=".drugsdetails"/>
        <activity android:name=".Add_drugs"/>
        <activity android:name=".CusTask"/>
        <activity android:name=".Signature" />
        <activity android:name=".DrugsInformation" />
        <activity android:name=".drugsdetails" />
        <activity android:name=".Add_drugs" />
        <activity android:name=".Patient_info">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>